PORT=3000
DB_URL=
SALT_ROUNDS=10
JWT_SECRET=
ORDER_TOKEN=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
PUBLIC_API_URL=http://localhost:3000
FRONTEND_URL=http://localhost:4200
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
